<div class="referenceWrapper">
    <el-table v-bind:data="beRefList" style="width: 100%;font-size: 12px;" stripe>
        <el-table-column prop="refTypeName" label="被引用类型" min-width="70"
                         v-bind:formatter="strategyTypeFormatter" show-overflow-tooltip></el-table-column>
        <el-table-column prop="refvarName" label="被引用名称" min-width="70" show-overflow-tooltip></el-table-column>
        <el-table-column prop="refversions" label="描述" min-width="70" show-overflow-tooltip></el-table-column>
    </el-table>
</div>
