<div class="constraintWrapper">
    <span v-if="!!type" class="typeTip" v-html="type"></span>

    <div v-for="(con,index) in constraint" class="constraintLine"
         v-bind:class="'level_' + level">
        <select v-if="con.type" v-model="con.type" class="constraintType">
            <option value="&&">并且</option>
            <option value="||">或者</option>
        </select>
        <line-part v-bind:line="con" v-bind:type="'constraint'"></line-part>
        <span class="constraintOperate" v-bind:style="!con.type ? 'left:460px;': ''">
            <span class="icons icon-add-round" v-on:click="addConstraintItem"></span>
            <a class="constraint_del" v-on:click="deleteConstraintItem(index)">删除</a>
            <a class="constraint_insert" v-on:click="insertConstraintItem(con)">嵌入</a>
        </span>
        <constraint-part v-bind:constraint="con.fields" v-if="con.fields"
                         v-bind:level="level + 1"></constraint-part>

    </div>
</div>