<div class="fnListWrapper">
    <input type="text" style="width: 100%;" placeholder="请输入关键字搜索" v-on:keyup="queryFnList"/>

    <div>
        <ul class="fnList">
            <li v-for="group in groups">
                <span v-on:click.self="toggleTable" class="tip">
                    <span class="icons icon-arrow-bold-down"></span>{{group.fnType}}</span>
                <table v-if="!!group.list && group.list.length > 0">
                    <thead>
                    <tr>
                        <td width="30%">名称</td>
                        <td width="50%">描述</td>
                        <td width="20%">参数个数</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in group.list" v-on:click="selectFN(item,$event)"
                        v-bind:class="(item.name == options.name) ? 'selected' : ''">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.paramCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>