<div class="main">
    <header>算话征信决策引擎</header>
    <div class="menuBg"></div>
    <menu>
        <div class="userInfo">
            <span class="icons icon-avatar"></span>

            <div class="info">
                <div v-bind:title="userInfo.name">{{userInfo.name}}</div>
                <div v-bind:title="userInfo.role">{{userInfo.role}}</div>
            </div>
        </div>
        <ul class="menu">
            <li v-for="menuItem in menu" v-on:click="openSubMenu"
                v-bind:class="{open: menulist.indexOf(menuItem.name) >= 0}">
                <a v-bind:href="menuItem.link | menuLinkFilter"
                   v-bind:class="{active: menulist.indexOf(menuItem.name) >= 0}">
                    <span v-bind:class="'icons icon-menu-' + menuItem.icon"></span>
                    <span class="name">{{menuItem.name}}</span>
                    <span class="icons icon-arrow-switch" v-if="!!menuItem.childMenu"></span>
                </a>
                <submenu v-bind:submenu="menuItem" v-bind:menulist="menulist" v-if="!!menuItem.childMenu"></submenu>
            </li>
        </ul>
    </menu>
    <div class="rightContent">
        <div class="location">
            <span v-for="(path, index) in menulist">{{path}}<span v-if="index != menulist.length-1">></span></span>
            <slot name="operate"></slot>
        </div>
        <div class="content">
            <slot name="content"></slot>
        </div>
    </div>
</div>