<div class="referenceWrapper">
    <div style="text-align: center;">
        <div class="switcher">
            <span v-bind:class="currentTab == 'ref' ? 'selected':'' " v-on:click="currentTab = 'ref'">引用</span>
            <span v-bind:class="currentTab == 'beRef' ? 'selected':'' " v-on:click="currentTab = 'beRef'">被引用</span>
        </div>
    </div>

    <div>
        <el-table v-bind:data="refList" style="width: 100%;font-size: 12px;" v-if="currentTab == 'ref'" stripe>
            <el-table-column prop="typeName" label="类型" min-width="70" v-bind:formatter="strategyTypeFormatter"
                             show-overflow-tooltip></el-table-column>
            <el-table-column prop="elementName" label="名称" min-width="70" show-overflow-tooltip></el-table-column>
            <el-table-column prop="versions" label="描述" min-width="70" show-overflow-tooltip></el-table-column>
        </el-table>

        <el-table v-bind:data="beRefList" style="width: 100%;font-size: 12px;" v-if="currentTab == 'beRef'" stripe>
            <el-table-column prop="refTypeName" label="类型" min-width="70" v-bind:formatter="strategyTypeFormatter"
                             show-overflow-tooltip></el-table-column>
            <el-table-column prop="refvarName" label="名称" min-width="70" show-overflow-tooltip></el-table-column>
            <el-table-column prop="refversions" label="描述" min-width="70" show-overflow-tooltip></el-table-column>
        </el-table>

    </div>
</div>