<div class="strategyListWrapper">
    <div style="font-size: 12px;">
        策略工具
        <select style="width: 80px;">
            <option value="">全部</option>
            <option v-for="item in StrategyTypeList" v-bind:value="item.value">{{item.name}}</option>
        </select>
        <input type="text" placeholder="请输入关键字搜索" style="width: 600px;"/>
    </div>
    <div style="margin-top: 10px;" class="small_table">
        <el-table v-bind:data="strategyList" stripe style="width: 100%;font-size: 12px;"
                  @selection-change="handleSelectionChange"
                  ref="table">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="strategyType" label="策略工具"
                             v-bind:formatter="strategyTypeFormatter"
                             sortable width="90"></el-table-column>
            <el-table-column prop="controlNo" label="策略编号" sortable
                             min-width="70"></el-table-column>
            <el-table-column prop="sort" label="策略分类" sortable min-width="70"></el-table-column>
            <el-table-column prop="strategyName" label="策略名称" sortable
                             min-width="70"></el-table-column>
            <el-table-column prop="description" label="策略描述" sortable
                             min-width="70"></el-table-column>
        </el-table>
        <div class="pagination_wrapper">
            <el-col :span="24" class="toolbar">
                <el-pagination @size-change="handlePaginationSizeChange"
                               @current-change="handlePaginationCurrentChange"
                               :current-page="sortParam.pageNum" :total="totalCount"
                               layout="prev, pager, next">
                </el-pagination>
            </el-col>
        </div>
    </div>
</div>