<div class="syncopateWrapper">
    <table>
        <thead>
        <tr>
            <td>比较值1</td>
            <td>比较符</td>
            <td>比较值2</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(score,index) in comparatorLines">
            <td>
                <input type="text" v-model="score.leftLine.right.value"
                       v-bind:readonly="!(!!score && !!score.leftLine && !!score.leftLine.comparator)"/>
            </td>
            <td>
                <select v-model="score.comparator" v-on:change="changeComparator(score)">
                    <option value="">选择关系</option>
                    <option v-for="com in compartors" v-bind:value="com.value">{{com.name}}</option>
                </select>
            </td>
            <td>
                <input type="text" v-model="score.rightLine.right.value"
                       v-bind:readonly="!(!!score && !!score.rightLine && !!score.rightLine.comparator)"/>
                <span class="syncopateItemOperate" v-on:click.self="deleteLine(index)">删除</span>
            </td>
        </tr>
        <tr class="syncopateOperate">
            <td colspan="3">
                <button class="btn_success_empty" v-on:click="addLine">
                    <span class="icons icon-plus"></span>添加
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>