<div>
    <div class="top">
        <div class="search" @click="asyncSearch">查</div>
        <div class="inputText"><input type="text" placeholder="请输入关键字搜索" v-model="keyWord"/></div>
    </div>
    <div class="list">
        <el-table :data="dataList" style="width: 100%" max-height="350">
            <el-table-column prop="classify" label="分类" min-width="60"></el-table-column>
            <el-table-column prop="fieldName" label="字段名" min-width="90"></el-table-column>
            <el-table-column prop="describe" label="描述" min-width="90"></el-table-column>
            <el-table-column prop="type" label="类型" min-width="60"></el-table-column>
            <el-table-column prop="outputValue" label="输出值" min-width="60"></el-table-column>
        </el-table>
    </div>
</div>