<div>
    <div class="top">
        <div class="search" @click="keywordsSearch">查</div>
        <div class="inputText"><input type="text" placeholder="请输入关键字搜索" v-model="keyWord"/></div>
    </div>
    <div class="list">
        <div class="listTitle">
            <div class="conent">
                <div class="fieldName">字段名</div>
                <div class="describe">描述</div>
                <div class="type">类型</div>
                <div class="inputValue" style="padding-left: 40px;">输入值</div>
            </div>
        </div>
        <div class="content">
            <div class="conent" v-for="(item,index) in versionTestEntryList">
                <div class="fieldName" v-html="item.fieldName"></div>
                <div class="describe" v-html="item.describe"></div>
                <div class="type" v-html="item.type == 1 ? '字符型' : '数值型'"></div>
                <div class="inputValue"><input type="text"/></div>
            </div>
        </div>
    </div>
</div>