<div>
    <p class="hint" v-show="!options.status">*提示：存在未测试成功的生效决策流，无法申请版本测试</p>
    <el-table :data="options.data" max-height="350" style="width: 100%;">
        <el-table-column prop="classify" label="分类" sortable :formatter="classify" min-width="60"></el-table-column>
        <el-table-column prop="code" label="编号" sortable min-width="90"></el-table-column>
        <el-table-column prop="name" label="名称" sortable min-width="110"></el-table-column>
        <el-table-column prop="describe" label="描述" sortable min-width="90"></el-table-column>
        <el-table-column prop="status" label="状态" sortable min-width="60">
            <template scope="scope">
                <span v-if="scope.row.status === 1" style="color: #27C6D3">测试成功</span>
                <span v-else style="color: red">升级失败</span>
            </template>
        </el-table-column>
        <el-table-column prop="priority" label="优先级" sortable min-width="70"></el-table-column>
        <el-table-column prop="version" label="版本号" min-width="70"></el-table-column>
    </el-table>
</div>