<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>底层策略</title>
    <script type="text/javascript" src="../../js/libs/require.js" data-main="../../js/main.js"
            data-entry="js/modules/basic/strategyList"></script>
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/elementUi.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/strategyList.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/daterangepicker.css"/>
</head>
<body>
<div id="body">
    <layout-main path="规则工程->底层->策略">
        <div slot="operate" class="locationOperate">
            <button class="btn_success_empty" v-on:click="startCreateTip = !startCreateTip"><span
                    class="icons icon-plus"></span>新增
            </button>
            <ul id="strategyCreate" v-show="startCreateTip">
                <li v-for="tool in typeList" v-on:click="startCreateTip = !startCreateTip">
                    <a v-bind:href="tool.createUrl | formatCreateUrl" v-bind:target="!!tool.createUrl ? '_blank' : ''">{{tool.name}}</a>
                </li>
            </ul>
        </div>

        <div slot="content">
            <div class="queryArea">
                <select v-model="queryParam.strategyType">
                    <option value="">全部工具</option>
                    <option v-for="tool in typeList" v-bind:value="tool.value">{{tool.name}}</option>
                </select>
                <select v-model="queryParam.compilingStatus">
                    <option value="">全部状态</option>
                    <option v-for="status in statusList" v-bind:value="status.value">{{status.name}}</option>
                </select>
                <input type="text" class="dateranger" placeholder="创建时间" readonly="readonly"/>
                <span>
                    <span class="areaTip">分类</span>
                    <input type="text" style="width:120px" v-model="queryParam.sort"/>
                </span>
                <span>
                    <span class="areaTip">名称</span>
                    <input type="text" style="width:120px" v-model="queryParam.strategyName"/>
                </span>
                <span>
                    <span class="areaTip">描述</span>
                    <input type="text" style="width:160px" v-model="queryParam.description"/>
                </span>
                <button class="btn_sm btn_success" v-on:click="asyncQueryList">查询</button>
                <button class="btn_sm" v-on:click="reset">重置</button>
            </div>
            <div style="margin-top: 20px;">
                <el-table v-bind:data="strategyList" highlight-current-row @cell-mouse-enter="handleMouseEnter"
                          @cell-mouse-leave="handleMouseOut" @sort-change="handleSortChange"
                          style="width: 100%;font-size: 12px;">
                    <el-table-column prop="isLock" label="" width="30">
                        <template scope="scope">
                            <span class="icons icon-lock" v-if="scope.row.isLock == 1"></span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="controlNo" label="编号" sortable="custom" min-width="70"></el-table-column>
                    <el-table-column prop="strategyType" label="工具" v-bind:formatter="strategyTypeFormatter"
                                     sortable="custom" show-overflow-tooltip
                                     min-width="70"></el-table-column>
                    <el-table-column prop="sort" label="分类" sortable="custom" min-width="70" show-overflow-tooltip></el-table-column>
                    <el-table-column prop="strategyName" label="名称" sortable="custom" min-width="70" show-overflow-tooltip></el-table-column>
                    <el-table-column prop="description" label="描述" sortable="custom" min-width="70" show-overflow-tooltip></el-table-column>
                    <el-table-column prop="compilingStatus" label="状态" sortable="custom" min-width="50" show-overflow-tooltip>
                        <template scope="scope">
                            <span v-bind:style="'color:' + compilingStatusColor(scope.row.compilingStatus)">{{scope.row.compilingStatus|compilingStatusFormatter}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="createTime" label="创建时间" sortable="custom" min-width="80" show-overflow-tooltip></el-table-column>
                    <el-table-column prop="versions" label="版本号" sortable="custom" min-width="70" show-overflow-tooltip>
                        <template scope="scope">
                            <div v-show="!scope.row.showOperate" class="text">{{ scope.row.versions }}</div>
                            <div v-show="scope.row.showOperate" class="cell_operate">
                                <span class="icons icon-user-details" title="详情"
                                      v-on:click="showDetail(scope.row)"></span>
                                <span class="icons icon-user-editor" title="编辑"
                                      v-show="canEditDetail(scope.row)" v-on:click="editDetail(scope.row)"></span>
                                <span class="icons icon-user-delete" title="删除"
                                      v-show="canEditDetail(scope.row)"
                                      v-on:click="deleteControl(scope.row.controlNo,scope.row.strategyName)"></span>
                                <span class="icons icon-user-reference" title="查看引用"
                                      v-on:click="showReferenceList(scope.row.controlNo)"></span>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="pagination_wrapper">
                <el-col :span="24" class="toolbar">
                    <el-pagination @size-change="handlePaginationSizeChange"
                                   @current-change="handlePaginationCurrentChange"
                                   :current-page="sortParam.pageNum"
                                   :page-sizes="[10,20,30]" :page-size="sortParam.pageSize"
                                   layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
                    </el-pagination>
                </el-col>
            </div>
        </div>
    </layout-main>
</div>
</body>
</html>