<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
    <script type="text/javascript" src="../js/libs/require.js" data-main="../js/main.js" data-entry="js/modules/sysManage/orgUserDetails"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/icons.css" />
    <link rel="stylesheet" type="text/css" href="../css/sysManage.css" />
</head>
<body>
    <div id="body">
        <layout-main path="系统管理->用户管理->用户详情">
            <div slot="content">
                <div class="userEditor">
                    <div class="editorTop">用户详情</div>
                    <div class="editorContent">
                        <div class="userDetails">
                            <dl v-for="item in userOrgDetails">
                                <dt>{{item.name}}</dt>
                                <dd>{{item.val}}</dd>
                            </dl>
                            <dl class="chooseRole">
                                <dt>用户角色</dt>
                                <dd>
                                    <div class="box">
                                        <div class="detailsRole">
                                            <div v-for="item in selectedRole">{{item.name}}</div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <p></p>
                            <dl v-for="item in userOrgBasic">
                                <dt>{{item.name}}</dt>
                                <dd>{{item.val}}</dd>
                            </dl>
                        </div>
                        <div class="editorBottom">
                            <button class="save">编辑</button>
                            <button calss="cancel"><a href="orgUserManager.html">返回</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </layout-main>
    </div>
</body>
</html>