<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <script type="text/javascript" src="../js/libs/require.js" data-main="../js/main.js" data-entry="js/modules/sysManage/roleManager"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/icons.css" />
    <link rel="stylesheet" type="text/css" href="../css/elementUi.css" />
    <link rel="stylesheet" type="text/css" href="../css/sysManage.css" />
</head>
<body>
<div id="body">
    <layout-main path="系统管理->角色管理">
        <div slot="operate" class="rightTop">
            <button>新建</button>
        </div>
        <div slot="content">
            <div class="queryArea">
                <select v-model="roleData.status">
                    <option value="">全部状态</option>
                    <option value="1">启用</option>
                    <option value="0">停用</option>
                </select>
                        <span>
                            <span class="areaTip">编号</span>
                            <input type="text" v-model="roleData.code"/>
                        </span>
                        <span>
                            <span class="areaTip">名称</span>
                            <input type="text" v-model="roleData.name"/>
                        </span>
                        <span>
                            <span class="areaTip">描述</span>
                            <input type="text" v-model="roleData.explain"/>
                        </span>
                <button class="btn_sm btn_success" @click="roleSearch">查询</button>
                <button class="btn_sm" @click="roleReset">重置</button>
            </div>
            <div class="manageComm">
                <el-table :data="roleManage"  highlight-current-row @cell-mouse-enter="handleMouseEnter1" @cell-mouse-leave="handleMouseOut1" style="width: 100%;">
                    <el-table-column prop="code" label="角色编号" sortable min-width="60"></el-table-column>
                    <el-table-column prop="name" label="角色名称" sortable min-width="50"></el-table-column>
                    <el-table-column prop="status" label="角色状态" sortable min-width="40" :formatter="roleStatus"></el-table-column>
                    <el-table-column prop="explain" label="角色描述" sortable min-width="150"></el-table-column>
                    <el-table-column prop="role" label="" min-width="40">
                        <template scope="scope">
                            <div class="text" style="width:100%;float:left">{{ scope.row.role }}</div>
                            <a class="needShow icons icon-user-details" href="roleDetails.html"></a>
                            <a class="needShow icons icon-user-editor" href="roleCreate.html"></a>
                            <div class="needShow icons icon-user-delete" @click="roleDelete(scope.row)"></div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <!--工具条-->
            <div class="manageCommB">
                <el-col :span="24" class="toolbar">
                    <el-pagination @size-change="sizeChange" @current-change="currentChange" :current-page="currentPage" :page-sizes="[10,30,50]" :page-size="rows" layout="total, sizes, prev, pager, next, jumper" :total="total">
                    </el-pagination>
                </el-col>
            </div>
        </div>
    </layout-main>
</div>
</body>
</html>