<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建角色</title>
    <script type="text/javascript" src="../js/libs/require.js" data-main="../js/main.js" data-entry="js/modules/sysManage/roleCreate"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/icons.css" />
    <link rel="stylesheet" type="text/css" href="../css/elementUi.css" />
    <link rel="stylesheet" type="text/css" href="../css/sysManage.css" />
</head>
<body>
<div id="body">
    <layout-main path="系统管理->角色管理->角色新建">
        <div slot="content">
            <div class="userEditor">
                <div class="editorTop">角色新建</div>
                <div class="editorContent">
                    <div class="roleDetails">
                        <dl>
                            <dt><span>*</span>&nbsp;角色名称</dt>
                            <dd><input type="text" style="width:330px;" v-model="roleData.name"/></dd>
                        </dl>
                        <dl>
                            <dt><span>*</span>&nbsp;角色状态</dt>
                            <dd class="roleStatus">
                                <input type="checkbox" v-model="roleData.status" @click="clickCheckbox"/>
                                <div class="icons" :class="roleData.status == '1' ? 'icon-status-true' : 'icon-status-false'"></div>
                            </dd>
                        </dl>
                        <dl class="roleExplain">
                            <dt><span>*</span>&nbsp;角色描述</dt>
                            <dd><textarea class="roleText" v-model="roleData.explain"></textarea></dd>
                        </dl>
                        <dl class="roleTree">
                            <dt><span>*</span>&nbsp;角色权限</dt>
                            <dd>
                                <el-tree :data="roleTree" show-checkbox node-key="id" :default-expanded-keys="[1]" :props="defaultProps">
                                </el-tree>
                            </dd>
                        </dl>
                    </div>
                    <div class="editorBottom">
                        <button class="save">保存</button>
                        <button calss="cancel"><a href="orgUserManager.html">取消</a></button>
                    </div>
                </div>
            </div>
        </div>
    </layout-main>
</div>
</body>
</html>