.tableBox{
    border: 1px solid #dddddd;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.tableButton,.conditionVar,.resVar,.rightBox{
    display: inline-block;
}

.conditionVar,.resVar{
    margin-right:20px;
    font-size: 12px;
}

.icon-add-round{
    vertical-align: bottom;
    background-position: -14px -228px;
}

.rightBox{
    margin-left: 20px;
}

#table{
    font-size: 0;

}
#table>table{
    border: 1px solid #CCCCCC;
    max-width: 100%;
    border-spacing:0 ;
    display: inline-block;

}
#table>table:first-child{
    border-right: none;
}
#table>table{
    border-bottom: none;
}
#table table td {
    text-align: center;
    font-size: 12px;
    height: 35px;
    width: 220px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

#table table tr td:last-child{
    border-right: none;
}

#table table td input{
    display: inline-block;
    width: 220px;
    height: 35px;
    border: none;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
}

#table table:first-child tr:first-child td input{
    background-color: #ebf6f9;
}

#table table:last-child tr:first-child td input{
    background-color: #e8e8e8;
}